NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDQh13zzCAmROKz_QnxjeRkOSZJzVrn380
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=foresight-finance-7970c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=foresight-finance-7970c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=foresight-finance-7970c.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1014424416312
NEXT_PUBLIC_FIREBASE_APP_ID=1:1014424416312:web:bb54cd3f1bd1d4c034f6cd
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-3YFDTZQXGL
