body {
    margin: 0;
    color: white;
    background-color: #0f172a;
    font-family: 'Segoe UI', sans-serif;
    }
    
    .page {
    background-color: #0F172A;
    color: white;
    min-height: 100vh;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    }
    .box1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 3vw;
    }
    .head {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-align: center;
        background: linear-gradient(90deg, #10E4A5, #2dd4bf);
        background-clip: text;
        color: transparent;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        letter-spacing: 1px;
    }
    
    .subhead {
        font-size: 1.8rem;
        color: #cbd5e1;
        margin-bottom: 3rem;
        text-align: center;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
        letter-spacing: 0.5px;
    }
    .feat1 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    }
    
    .lh11 {
    background-color: #1e293b;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    position: relative;
    max-width: 280px;
    text-align: center;
    }
    
    .lh11:hover {
    transform: scale(1.05);
    }
    
    .tit1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0.75rem;
    }
    
    .par1 {
    margin-top: 0.75rem;
    opacity: 0;
    transition: opacity 0.4s ease;
    }
    
    .wrap1:hover .par1 {
    opacity: 1;
    color: #f9a8d4;
    }
    
    .container {
    margin-top: 3rem;
    text-align: center;
    }
    
    .button {
    background-color: #14b8a6;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.5rem 2rem;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    }
    
    .button:hover {
    background-color: #0d9488;
    transform: scale(1.05);
    }